# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
border-router/border-router.cooja
border-router/build/cooja/mtype119.cooja
border-router/build/cooja/mtype128.cooja
border-router/build/cooja/mtype174.cooja
border-router/build/cooja/mtype179.cooja
border-router/build/cooja/mtype207.cooja
border-router/build/cooja/mtype227.cooja
border-router/build/cooja/mtype269.cooja
border-router/build/cooja/mtype278.cooja
border-router/build/cooja/mtype28.cooja
border-router/build/cooja/mtype30.cooja
border-router/build/cooja/mtype302.cooja
border-router/build/cooja/mtype315.cooja
border-router/build/cooja/mtype325.cooja
border-router/build/cooja/mtype341.cooja
border-router/build/cooja/mtype343.cooja
border-router/build/cooja/mtype35.cooja
border-router/build/cooja/mtype399.cooja
border-router/build/cooja/mtype402.cooja
border-router/build/cooja/mtype410.cooja
border-router/build/cooja/mtype434.cooja
border-router/build/cooja/mtype442.cooja
border-router/build/cooja/mtype446.cooja
border-router/build/cooja/mtype46.cooja
border-router/build/cooja/mtype488.cooja
border-router/build/cooja/mtype496.cooja
border-router/build/cooja/mtype502.cooja
border-router/build/cooja/mtype505.cooja
border-router/build/cooja/mtype541.cooja
border-router/build/cooja/mtype589.cooja
border-router/build/cooja/mtype608.cooja
border-router/build/cooja/mtype619.cooja
border-router/build/cooja/mtype658.cooja
border-router/build/cooja/mtype668.cooja
border-router/build/cooja/mtype698.cooja
border-router/build/cooja/mtype73.cooja
border-router/build/cooja/mtype746.cooja
border-router/build/cooja/mtype747.cooja
border-router/build/cooja/mtype753.cooja
border-router/build/cooja/mtype765.cooja
border-router/build/cooja/mtype78.cooja
border-router/build/cooja/mtype780.cooja
border-router/build/cooja/mtype791.cooja
border-router/build/cooja/mtype800.cooja
border-router/build/cooja/mtype818.cooja
border-router/build/cooja/mtype821.cooja
border-router/build/cooja/mtype823.cooja
border-router/build/cooja/mtype827.cooja
border-router/build/cooja/mtype848.cooja
border-router/build/cooja/mtype883.cooja
border-router/build/cooja/mtype89.cooja
border-router/build/cooja/mtype895.cooja
border-router/build/cooja/mtype907.cooja
border-router/build/cooja/mtype910.cooja
border-router/build/cooja/mtype911.cooja
border-router/build/cooja/mtype922.cooja
border-router/build/cooja/mtype927.cooja
border-router/build/cooja/mtype940.cooja
border-router/build/cooja/mtype946.cooja
border-router/build/cooja/mtype964.cooja
border-router/build/cooja/mtype990.cooja
border-router/build/cooja/mtype998.cooja
node/jota-node.cooja
node/build/cooja/mtype114.cooja
node/build/cooja/mtype124.cooja
node/build/cooja/mtype161.cooja
node/build/cooja/mtype221.cooja
node/build/cooja/mtype232.cooja
node/build/cooja/mtype240.cooja
node/build/cooja/mtype248.cooja
node/build/cooja/mtype254.cooja
node/build/cooja/mtype26.cooja
node/build/cooja/mtype287.cooja
node/build/cooja/mtype291.cooja
node/build/cooja/mtype297.cooja
node/build/cooja/mtype324.cooja
node/build/cooja/mtype331.cooja
node/build/cooja/mtype36.cooja
node/build/cooja/mtype362.cooja
node/build/cooja/mtype39.cooja
node/build/cooja/mtype415.cooja
node/build/cooja/mtype437.cooja
node/build/cooja/mtype445.cooja
node/build/cooja/mtype446.cooja
node/build/cooja/mtype462.cooja
node/build/cooja/mtype471.cooja
node/build/cooja/mtype483.cooja
node/build/cooja/mtype484.cooja
node/build/cooja/mtype494.cooja
node/build/cooja/mtype507.cooja
node/build/cooja/mtype525.cooja
node/build/cooja/mtype543.cooja
node/build/cooja/mtype552.cooja
node/build/cooja/mtype574.cooja
node/build/cooja/mtype579.cooja
node/build/cooja/mtype608.cooja
node/build/cooja/mtype613.cooja
node/build/cooja/mtype614.cooja
node/build/cooja/mtype657.cooja
node/build/cooja/mtype661.cooja
node/build/cooja/mtype674.cooja
node/build/cooja/mtype682.cooja
node/build/cooja/mtype704.cooja
node/build/cooja/mtype708.cooja
node/build/cooja/mtype71.cooja
node/build/cooja/mtype710.cooja
node/build/cooja/mtype713.cooja
node/build/cooja/mtype729.cooja
node/build/cooja/mtype735.cooja
node/build/cooja/mtype745.cooja
node/build/cooja/mtype765.cooja
node/build/cooja/mtype773.cooja
node/build/cooja/mtype829.cooja
node/build/cooja/mtype835.cooja
node/build/cooja/mtype838.cooja
node/build/cooja/mtype84.cooja
node/build/cooja/mtype865.cooja
node/build/cooja/mtype870.cooja
node/build/cooja/mtype88.cooja
node/build/cooja/mtype906.cooja
node/build/cooja/mtype91.cooja
node/build/cooja/mtype936.cooja
node/build/cooja/mtype939.cooja
node/build/cooja/mtype965.cooja
